
    .BoxMargin
    {
    border:2px dotted black;
    
    padding: .5em;
    }
    .BoxBorder
    {
    border:2px solid black;
    margin-top:10px;
    margin-right:20px;
    margin-left:20px;
    margin-bottom:20px;
    background-color:yellow;
    padding: .5em;
    }

    .BoxPadding
    {
    border:2px solid black;
    margin-top:10px;
    margin-right:20px;
    margin-left:20px;
    margin-bottom:20px;
    background-color:white;
    padding: .5em;
    }
    .BoxContent
    {
    border:2px dotted black;
    margin-top:10px;
    margin-right:20px;
    margin-left:20px;
    margin-bottom:20px;
    background-color:white;
    padding: 5.5em;
    
    }
